@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-shift {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes scroll {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

.animate-scroll {
  animation: scroll 2s ease-in-out infinite;
}

.animate-gradient {
  background-size: 200% auto;
  animation: shine 8s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}